# dependencies
/node_modules

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env
.env.development
.env.development.local
# .env.production
.env.production.local
.env.test

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#css files to allow use of sass
src/**/*.css

.vscode/
