.header {
  padding: 0;
  height: auto;
}

.page-header {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 5em;

  h1 {
    margin: 0;
  }
}

.carousel-container {
  display: flex;
  flex-direction: row;

  .carousel {
    width: 50vw;
  }
}

.select-dd {
  @extend .mid-flex;
  margin: 1em 0;
}

.select-dd-left {
  margin: 1em 0;
}

.list {
  margin-bottom: 1em;

  .ant-row {
    cursor: pointer;
  }
}

.thumbnail {
  width: 120px;
  height: 90px;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .thumbnail {
    width: 120px;
    height: 90px;
  }
}

@media only screen and (min-width: 992px) {
  .thumbnail {
    width: 180px;
    height: 120px;
  }
}