//  margins, display, box-sizing, etc.

.content-wrapper {
  min-height: 100%;
}

.mid-container {
  margin: 0 auto;
  // .bordered();
}

.right {
  float: right;
}

.no-margin {
  margin: 10;
}

.margin-bot {
  margin-bottom: 1em;
}

.pad-sides {
  padding: 0 2em;
}

.section {
  .pad-sides();
  margin-bottom: 2em;
}

.mid-flex {
  display: flex;
  justify-content: space-around;
}

.hide {
  display: none;
}
