//  margins, display, box-sizing, etc.

.content-wrapper {
  height: 100%;
}

.mid-container {
  margin: 0 auto;
  .bordered();
}

.carousel-container {
  display: flex;
  flex-direction: row;

  .carousel {
    width: 50vw;
  }
}

.right {
  float: right;
}

.no-margin {
  margin: 10;
}