$black: #000;
$transparent-black: rgba(0, 0, 0, .6);
$very-transparent-black: rgba(0, 0, 0, .3);
$almost-black:	#303030;
$darker-grey:	#404040;
$dark-grey: #606060;
$grey: #808080;
$darker-silver: #A0A0A0;
$darkish-silver: #B0B0B0;
$silver: #C0C0C0;
$light-silver: #CACFD2;
$light-grey: #d3d3d3;
$gainsboro: #dcdcdc;
$white-silver: #ECF0F1;
$white-smoke:	#F5F5F5;
$white: #fff;

$dark-blue: #2f3337;
$royal-blue: #002965;
$blue: #0078d7;
$red: #e63312;
$green: #76b82a;
$coral: #ff7f50;

$gold: #FFD700;
$yellow: #ffff00;
$lighter-yellow: #ffff44;
$light-yellow: #ffff88;

$font-merriweather-url: 'https://fonts.googleapis.com/css?family=Merriweather';