// base
@import 'ant-theme-vars.less';
@import 'partials/_fonts.less';
@import 'partials/_layout.less';
@import 'partials/_theme.less';
@import 'partials/_typography.less';
@import 'partials/_components.less';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  .ie {
    overflow: auto;

    body {
      overflow: auto;
    }
  }
}

#root {
  height: 100%;
}
