// base
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import 'partials/_variables.scss';
@import 'partials/_functions.scss';
@import 'partials/_mixins.scss';
@import 'partials/_layout.scss';
@import 'partials/_typography.scss';
@import 'partials/_components.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  .ie {
    overflow: auto;

    body {
      overflow: auto;
    }
  }
}

#root {
  height: 100%;
}