.teams-list {
  display: flex;
  justify-content: flex-start;

  h4 {
    margin-right: 20px;
  }
}

.match-list {
  .match {
    display: flex;
    justify-content: flex-start;

    h4,
    > div {
      margin-right: 20px;
    }
  }
}
